---
http_interactions:
- request:
    method: put
    uri: https://api.cloudflare.com/client/v4//zones/ENV[CLOUDFLARE_WHITELABEL_ZONE_ID]/dns_records/38e6f20282615d309018ca4edb56f8d7
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      Served-In-Seconds:
      - '0.020'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"errors":[{"code":9106,"message":"Missing X-Auth-Email
        header"},{"code":9107,"message":"Missing X-Auth-Key header"}],"messages":[],"result":null}'
  recorded_at: Sun, 03 Nov 2019 03:50:28 GMT
recorded_with: VCR 5.0.0
