---
http_interactions:
- request:
    method: get
    uri: https://api.cloudflare.com/client/v4//zones/ENV[CLOUDFLARE_WHITELABEL_ZONE_ID]/dns_records
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[CLOUDFLARE_API_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Served-In-Seconds:
      - '0.175'
    body:
      encoding: ASCII-8BIT
      string: '{"result":[{"id":"c23f02f2ce80b3ad76064476b4c239d4","type":"A","name":"adfasdfaf.petfoodnatural.com.br","content":"35.243.169.92","proxiable":true,"proxied":false,"ttl":1,"locked":false,"zone_id":"ENV[CLOUDFLARE_WHITELABEL_ZONE_ID]","zone_name":"petfoodnatural.com.br","modified_on":"2019-10-10T22:35:49.082690Z","created_on":"2019-10-10T22:35:49.082690Z","meta":{"auto_added":false,"managed_by_apps":false,"managed_by_argo_tunnel":false}},{"id":"b4124caf1ac807fc0d5f0b114500a562","type":"A","name":"bradtke.petfoodnatural.com.br","content":"35.243.169.92","proxiable":true,"proxied":false,"ttl":1,"locked":false,"zone_id":"ENV[CLOUDFLARE_WHITELABEL_ZONE_ID]","zone_name":"petfoodnatural.com.br","modified_on":"2019-10-22T17:27:21.780297Z","created_on":"2019-10-22T17:27:21.780297Z","meta":{"auto_added":false,"managed_by_apps":false,"managed_by_argo_tunnel":false}},{"id":"29b9d545d5bbba93e19331482837f6c4","type":"A","name":"brun1[...]
