---
http_interactions:
- request:
    method: delete
    uri: https://api.cloudflare.com/client/v4//zones/ENV[CLOUDFLARE_WHITELABEL_ZONE_ID]/dns_records/38e6f20282615d309018ca4edb56f8d7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ENV[CLOUDFLARE_API_TOKEN]
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Served-In-Seconds:
      - '0.092'
    body:
      encoding: ASCII-8BIT
      string: '{"result":{"id":"38e6f20282615d309018ca4edb56f8d7"},"success":true,"errors":[],"messages":[]}'
  recorded_at: Sun, 03 Nov 2019 03:55:57 GMT
recorded_with: VCR 5.0.0
